.header{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px; 
    justify-content: center;
    align-items: center;
}

.form{ 
    max-width: 50%;
    display: flex;
    gap:20px;
}


.input{
    display: block;
    width: 250px;
    height: 40px;
    border: 2px solid blue; 
    border-radius: 7px;
    font-size: 20px;
}

.input:hover{ 
    border: 2px solid black;
}

.button{
    width: 90px;
    height: 40px;
    border-radius: 7px;
    background-color: blue;
    color: white;
}


.button:hover{
 background-color: black;
}